@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            <h1>Web Calculator</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
